//- Generic message dialog with only a title and a body
div
    .modal-header
        h3.modal-title {{vm.title}}

    .modal-body
        div {{vm.message}}

    .modal-footer
        button.btn.btn-primary(type="button" ng-click="vm.endDraft()") Back To Lobby
