/*setup page relevant CSS*/

label, input
{
    display:inline-block;
}

fieldset
{
    padding:0;
    border:0;
}

.active-table td, .active-table th {
	padding-left: 5px;
	padding-right:5px;
}

.active-table table  {
	margin-top: 5px;
}

.btn-bar {
	margin-bottom: 10px;
    margin-top: 10px;
}

/*login screen styling*/
.login-screen {
    margin: 0 auto;
    max-width: 50%;
}
/*end login screen styling*/

/*draft relevant CSS*/
.pack ul
{
    list-style-type: none;
    padding-left: 0;
}

/*make it so you cant select the cards*/
.card {
    margin-bottom: 5px;
    padding-left: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    border-radius: 5px;
}

.pack {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.card-img {
    margin-bottom: 5px;
}

.set-disabled {
    color: gray;
}

.dialog-overflow {
    height: 70vh;
    overflow-y: auto;
}