doctype html
html.no-js
  head
    //- base(href="/")
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width")
    script(src="/app.module.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    link(rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css")
    link(rel="stylesheet" href="/assets/css/style.css")

    body(ng-app="arcaneOasis" ng-cloak)
        div(ui-view)