.col-md-12
  button.btn.btn-sm.btn-primary(ng-click="vm.confirmToLobby()") To Lobby
  button.btn.btn-sm.btn-primary(ng-click="vm.openSettings()") Settings
  button.btn.btn-sm.btn-primary(ng-click="vm.openDeckList()") Copy Deck

.col-md-12
  b Username:
  span  {{vm.username}}
  b Current Player:
  span  {{vm.currentPlayer}}

.col-md-12
  .col-md-4
    .col-md-12.well
      img.img-responsive(ng-show="vm.hoveredURL" ng-src="{{vm.hoveredURL}}")

    .col-md-12.well
      b Game Log
      div(style='overflow-y:auto; height: 20ch;')
        div(ng-repeat="data in vm.cardsTaken")
          i {{data.playerName + ' '}}
          | took
          strong {{' ' + data.cardName}}

  .pack.col-md-3.col-md-offset-1.well(style='overflow-y:auto;')
    p(style='margin-bottom:15px')
      b Pack
      //- Button that sorts the pack of cards -->
      button.btn.btn-sm.btn-primary(style="float:right;" ng-click="vm.pack.sort(vm.sortCardFunction)") Sort
    ul
      li.card(ng-repeat='card in vm.pack' ng-dblclick='vm.onCardClick(card)' style='background: {{vm.getColourStr(card)}}; color: {{vm.getTextColour(card)}}' ng-mouseover="vm.onCardHover(card)") {{card.name}}

  .pack.col-md-3.col-md-offset-1.well(style='overflow-y:auto;')
    p(style='margin-bottom:15px')
      b Selected Cards
      //- Button that sorts the selected pack of cards -->
      button.btn.btn-sm.btn-primary(style="float:right;" ng-click="vm.selected.sort(vm.sortCardFunction)") Sort
    ul
      li.card(ng-repeat='card in vm.selectedCards' style='background: {{vm.getColourStr(card)}}; color: {{vm.getTextColour(card)}}'  ng-mouseover="vm.onCardHover(card)") {{card.quantity + ' ' + card.name}}

//- The table containing the players in the game
.col-md-12
  table
    thead
      tr
        td: strong Players
    tbody
      tr(ng-repeat="player in vm.players")
        td {{player}}
hr
