div
  .modal-header
    block title

  //- body needs scrollbars otherwise its a gank ass page
  .modal-body
    label Search:
    input(ng-model="vm.searchText")

    .dialog-overflow
      table.table.table-hover.table-bordered
        thead
          tr
            td.col-md-4: strong Name
            td.col-md-4: strong Owner
        tbody
          tr(ng-repeat="list in vm.lists | orderBy: 'name' | filter:vm.searchText" ng-click="vm.selectList(list)")
            td {{list.name}}
            td {{list.owner}}

  .modal-footer
    div(style="float:left")
      label List name
      input(ng-model="vm.listName" ng-min="6")
    span.alert(ng-if="vm.error" style="float:left;padding:6px 12px;margin-bottom:0px;" class="alert-danger" role="alert")
      span Load Error
      span.label.label-danger(ng-show="vm.error" uib-popover="{{vm.error}}" popover-trigger="mouseenter") !

    block footer
