extends dialog.pug
//- im not a fan of the title being set like this TODO
block title
  h3.modal-title Load List

block footer
  button.btn.btn-primary(type="button" ng-click="vm.load()") Load
  button.btn.btn-danger(type="button" ng-click="vm.cancel()") Cancel