extends dialog.pug

block title
  h3.modal-title Save List

block footer
  button.btn.btn-primary(type="button" ng-click="vm.save()") Save
  button.btn.btn-danger(type="button" ng-click="vm.cancel()") Cancel