div
  .modal-header
    h3.modal-title Deck list Dialog

  .modal-body
    span(ng-if="vm.deckList.length === 0") {{vm.deckText}}
    deck-list-export(ng-if="vm.deckList.length !== 0" deck-list="vm.deckList")

  .modal-footer
    button.btn.btn-warning(type="button" ng-click="vm.close()") Close