div
  .modal-header
    h3.modal-title Join Draft Now!

  .modal-body
    //- TODO include image of a tick here maybe -->
    table
      tr
        td: b Draft ID:
        td {{vm.url}}
        td.label.label-info(uib-popover="Send this URL to the other players" popover-trigger="mouseenter") ?

      tr
        td: b Game:
        td {{vm.config.gameType}}

      tr
        td: b Draft Type:
        td {{vm.config.draftType}}

      tr
        td: b Draft Format:
        td {{vm.config.draftFormat}}

      tr
        td: b # Players:
        td {{vm.config.numPlayers}}

      tr
        td: b Pack Size:
        td {{vm.config.packSize}}

      tr
        td: b # Rounds:
        td {{vm.config.numRounds}}

      tr
        td: b Sets:
        td
          ul: li(ng-repeat="set in vm.config.sets") {{set}}

  .modal-footer
    a.btn.btn-primary(ng-click="vm.join()") Join Draft
    button.btn.btn-warning(type="button" ng-click="vm.close()") Close