//- Dialog for the settings
div
  .modal-header
    h3.modal-title Settings

  .modal-body
    #dialog-form
      form(name="settingsForm")
        fieldset(ng-disabled="vm.draftStarted")
        table
          //- Drop down list for the kind of game (YGO, Magic etc)
          tr
            td: label Game:
            td
              select(name="game" ng-model="vm.config.gameType")
                option(ng-repeat="game in vm.gameTypes" value="{{game}}")|{{game}}

          //- Drop down list to select the draft type
          tr
            td: label Draft Type:
            td
              select(name="draftType" ng-model="vm.config.draftType" ng-change="vm.draftTypeChanged()")
                option(ng-repeat="draftType in vm.draftTypes" value="{{draftType}}")|{{draftType}}
            td.label.label-info(uib-popover="Booster is like real boosters, Cube drafts are defined via card list" popover-trigger="mouseenter") ?

          //- Drop down list to select the draft format
          tr
            td: label Draft Format:
            td
              select(name="draftFormat" ng-model="vm.config.draftFormat" ng-change="vm.draftFormatChanged()")
                option(ng-repeat="draftFormat in vm.draftFormats" value="{{draftFormat}}")|{{draftFormat}}

          //- Number picker to select the number of players
          tr
            td: label # Players:
            td
              input(name="numPlayerPicker" type="number" min="2" max="8" step="1" value="2" ng-model="vm.config.numPlayers" required ng-change="vm.settingsChanged()")
              span(ng-show="!settingsForm.numPlayerPicker.$valid") There must be between 2 - 8 players in the draft
            td(rowspan="3")
              button.btn.btn-primary(style="margin-top:5px" type="button" ng-click="vm.setDefaults()" uib-popover="Sets the Pack Size & # Rounds to the suggested values" popover-trigger="mouseenter") Default

          //- Arbitary max of 20
          tr
            td: label Pack Size:
            td
              input(name="packSizePicker" type="number" min="{{vm.minPackSize}}" max="20" step="1" ng-disabled="vm.config.draftType==='booster'" ng-model="vm.config.packSize" ng-change="vm.settingsChanged()" required)

          //- Arbitarity max of 30
          tr
            td: label # Rounds:
            td
              input(name="numRoundsPicker" ng-disabled="vm.config.draftFormat === 'rochester'" type="number" min="1" ng-change="vm.settingsChanged()" max="30" step="1" ng-model="vm.config.numRounds" required)

          //- deck size is calculated via the drafttype (roch/booster), number of rounds
          tr
            td: label Deck Size
            td {{vm.deckSize}}
          //- the list of sets for the kind of game/draft -->

          tr
            td: label Sets:
            td
            td
              button.btn.btn-primary(style="margin-top:5px" type="button" ng-click="vm.openSetPicker()") Select Sets

          tr
            td(colspan="2" style="padding-left:20px;")
              div(ng-repeat="set in vm.config.sets")
                li {{set}}

  .modal-footer
    //- This div contains the alert that will tell the user that they did well or screwed up
    span.alert(style="float:left;padding:6px 12px;margin-bottom:0px;" ng-class="'alert-' + vm.alert.type" type="{{vm.alert.type}}" role="alert")
      span {{vm.alert.msg}}
      span.label.label-danger(ng-show="vm.alert" uib-popover="{{vm.alert.hover}}" popover-trigger="mouseenter") !

    //- the button is disabled if the form isnt valid, or they have sent a request or they havent selected enough sets
    button.btn.btn-primary(type="button" ng-click="vm.startDraft()" ng-disabled=" !settingsForm.$valid || vm.draftStarted || !vm.validSettings()") Start Draft
    button.btn.btn-warning(type="button" ng-click="vm.close()") Close
