//- Static Dialog for showing the settings of the game
div        
  .modal-header
    h3.modal-title Settings

  .modal-body
    table
      tr
        td: b Draft ID:
        td {{vm.uid}}
        td.label.label-info(uib-popover="Send this ID to the other players" popover-trigger="mouseenter") ?
      tr
        td: b Game:
        td {{vm.config.gameType}}
      tr
        td: b Draft Type:
        td {{vm.config.draftType}}
      tr
        td: b Draft Format:
        td {{vm.config.draftFormat}}
      tr
        td: b # Players:
        td {{vm.config.numPlayers}}
      tr
        td: b Pack Size:
        td {{vm.config.packSize}}
      tr
        td: b # Rounds:
        td {{vm.config.numRounds}}
      tr
        td
          b Sets:
          ul
            li(ng-repeat="set in vm.config.sets") {{ set }}

  .modal-footer
    button.btn.btn-warning(type="button" ng-click="vm.close()") Close