div(class="col-md-6 col-md-offset-3")
  h3 Sign Up

  //- TODO fix up the ng-class sections if possible

  form(name="signupForm" novalidate)
    .form-group(ng-class="{ 'has-error': vm.usernameTaken === true || ( signupForm.username.$invalid && !signupForm.username.$pristine), 'has-success': vm.usernameTaken === false }")
      label Username
      button.btn.btn-primary.btn-xs(ng-click="vm.checkUsername()" ng-disabled="signupForm.username.$invalid") Check user name
      input.form-control(name="username" type="text" ng-model="vm.username" ng-minlength="6" ng-maxlength="16" ng-change="vm.usernameTaken = undefined" required)
      div(ng-messages="signupForm.username.$error" ng-if="signupForm.username.$touched")
        p.help-block(ng-message="minlength")
          |Username must be at least 6 characters
        p.help-block(ng-message="maxlength")
          |Username cannot be over 16 characters

      p.help-block(ng-show="vm.usernameTaken === true")
        |Username is taken
      p.help-block(ng-show="vm.usernameTaken === false")
        |Username is available

    br

    .form-group(ng-class="{ 'has-error': signupForm.password.$invalid && !signupForm.password.$pristine, 'has-success': !signupForm.password.$invalid && !signupForm.password.$pristine}")
      label Password
      input.form-control(name="password" type="password" ng-model="vm.password" ng-minlength="6" ng-maxlength="50" required)
      div(ng-messages="signupForm.password.$error" ng-if="signupForm.password.$touched")
        p.help-block(ng-message="minlength")
          |Password must be at least 6 characters
        p.help-block(ng-message="maxlength")
          |Password cannot be over 50 characters
    br

    .form-group(ng-class="{ 'has-error': signupForm.passwordConf.$invalid && !signupForm.passwordConf.$pristine, 'has-success': !signupForm.passwordConf.$error.pattern && !signupForm.passwordConf.$pristine && !signupForm.password.$invalid}")
      label Confirm Password
      span(ng-show="signupForm.passwordConf.$error.pattern")
      input.form-control(name="passwordConf" type="password" ng-model="vm.passwordConf" ng-pattern="vm.password" required)
      div(ng-messages="signupForm.passwordConf.$error" ng-if="signupForm.passwordConf.$touched")
        p.help-block(ng-message="pattern")
          |Passwords do not match
    br

    //- label Captcha
    //- input(name="" type="" ng-model="" required)
    //- span(ng-show="!settingsForm..$valid")
    //- br

  button.btn.btn-primary(type="button" ng-click="vm.join()" ng-disabled=" !signupForm.$valid || vm.usernameTaken !== false") Join
  button.btn.btn-primary(ui-sref="login") Log In
