div(style="margin-left:10px")
  span(style="padding:0px 10px;font-size:10vw; font-weight:bold;color:black;") Arcane
  br
  span(style="padding:0px 10px;font-size:10vw; font-weight:bold;background-color:black;color:white;") Oasis
  br
  span(style="font-weight:bold;color:black;") Card Drafting Facilitator
  br
  a.btn.btn-primary(style="margin-top:10px; font-weight:bold;" ui-sref="lobby") Log In
  a.btn.btn-primary(style="margin-top:10px; font-weight:bold;" ui-sref="signup") Sign Up