.col-md-12.btn-bar
  button.btn.btn-sm.btn-primary(ng-click="vm.openSettings()" style="margin-right:5px") Set Up Draft
  button.btn.btn-sm.btn-primary(ui-sref="sets") View Sets
  button.btn.btn-sm.btn-primary(ng-click="vm.logOut()") Log Out
  b User:
  |{{ vm.username }}

.active-table.col-md-12 Active Drafts:
  button.btn.btn-sm.btn-primary(ng-click="vm.getActiveDrafts()" ng-disabled="vm.gamesRequested") Refresh
  table(border="1")
    th Game Type
    th Draft Type
    th Draft Format
    th Max Players
    th(style="width:36ch") UID
    th(style="width:10ch")
    tr(style="text-align:center" ng-show="vm.activeDrafts.length === 0")
      td(colspan="6") No Drafts Started!

    tr(ng-repeat="draft in vm.activeDrafts")
      td {{draft.gameType}}
      td {{draft.draftType}}
      td {{draft.draftFormat}}
      td {{draft.numPlayers}}
      td {{draft.uid}}
      td: a.btn.btn-primary(ui-sref="{{draft.draftFormat}}({draftid:'{{draft.uid}}'})") Join
