div
  .modal-header
    h3.modal-title {{vm.deckText}}

  .modal-body.sets.dialog-overflow
    label Search:
    input(ng-model="vm.searchText")
    div(ng-if="!vm.sets")
      |Loading Sets...
    table.table.table-hover.table-bordered(ng-if="vm.sets")
      thead
        tr
          td.col-md-1
          td.col-md-4: strong Name
          td.col-md-4: strong Owner
      tbody
        tr(ng-class="{'info': set.winner, 'set-disabled': vm.maxSets && vm.maxSets==vm.checked && !set.winner}" ng-repeat="set in vm.sets | orderBy: 'name' | filter:vm.searchText" )
          td: input(style="display:block; margin: 0 auto;" type="checkbox" ng-change="vm.checkChanged(set)" ng-model="set.winner" ng-disabled="vm.maxSets && vm.maxSets==vm.checked && !set.winner")
          td {{set.name}}
          td {{set.owner}}

    br

  .modal-footer
    span(style="float:left;")
      label Selected:
      span {{vm.getSelectedSets().join(', ')}}
    button.btn.btn-primary(ng-disabled="!vm.enoughSets()" type="button" ng-click="vm.select()") Select
    button.btn.btn-warning(type="button" ng-click="vm.close()") Close
