.login-screen
  h3 Login

  .login-form
    form(name="loginForm")
      label Username:
      input#username(type="text" ng-model="vm.username" required)

      br
      label Password:
      input#password(type="password" ng-model="vm.password" required)

  button.btn.btn-primary(type="button" ng-click="vm.login()" ng-disabled="!loginForm.$valid") Log In
  a.btn.btn-primary(ui-sref="signup") Sign Up