//- Dialog to show the deck list when an error occurs -->
div
    .modal-header
        h3.modal-title {{vm.title}}

    .modal-body
        div
            div(ng-if="vm.message") {{vm.message}}
            |Close the draft when you are ready
        hr

        |The draft session will not continue. You may copy your selected cards by selecting the text below.
        hr
        div(ng-if="vm.deckList.length === 0")
            b Deck List
            br
            span {{vm.deckText}}
        deck-list-export(ng-if="vm.deckList.length !== 0" deck-list="vm.deckList")


    .modal-footer
        button.btn.btn-primary(type="button" ng-click="vm.endDraft()") To Lobby