div
  b Deck List
  div.btn.btn-primary(ng-click="$ctrl.toYvd()" ng-disabled="!$ctrl.yvdEnabled") YVD
  div.btn.btn-primary(ng-click="$ctrl.toNormal()") Normal
  br
  textarea.col-md-12(style='height:30vh' ng-list="\n" ng-trim="false" ng-model="$ctrl.deck" readonly)
