.col-md-12(style="margin-bottom:5px")
  //-
  button.btn.btn-sm.btn-primary(ng-click="vm.confirmToLobby()") To Lobby

  //-
  button.btn.btn-sm.btn-primary(ng-click="vm.openSettings()") Settings

  //- Shows the deck dialog
  button.btn.btn-sm.btn-primary(ng-click="vm.openDeckList()") Copy Deck

  span(style="margin-bottom:5px")
    b Username:
    | {{ ' '+ vm.username }}

.col-md-12
  //-the card image
  .col-md-3.well.col-md-offset-1
    img.card-img.img-responsive(ng-show="vm.hoveredURL" ng-src="{{vm.hoveredURL}}")

  //- the list of pack cards
  .pack.col-md-3.col-md-offset-1.well(style='overflow-y:auto;')
    p(style='margin-bottom:15px')
      b Pack
      //-
      button.btn.btn-sm.btn-primary(style="float:right;" ng-click="vm.pack.sort(vm.sortCardFunction)") Sort
    ul
      li.card(ng-repeat='card in vm.pack' ng-dblclick='vm.onCardClick(card)' style='background: {{vm.getColourStr(card)}}; color: {{vm.getTextColour(card)}}' ng-mouseover="vm.onCardHover(card)") {{card.name}}

  //- the list of selected cards
  .pack.col-md-3.col-md-offset-1.well(style='overflow-y:auto;')
    p(style='margin-bottom:15px')
      b Selected Cards
      span(style="color: {{vm.getColourStr({cardType: 'Monster', monsterType: ['Effect']})}}") {{vm.getMonsterCount()}}
      span(style="color: {{vm.getColourStr({cardType: 'Spell'})}}") {{vm.getSpellCount()}}
      span(style="color: {{vm.getColourStr({cardType: 'Trap'})}}") {{vm.getTrapCount()}}
      //-
      button.btn.btn-sm.btn-primary(style="float:right;" ng-click="vm.selectedCards.sort(vm.sortCardFunction)") Sort
    ul
      li.card(ng-repeat='card in vm.selectedCards' style='background: {{vm.getColourStr(card)}}; color: {{vm.getTextColour(card)}}' ng-mouseover="vm.onCardHover(card)") {{card.quantity + ' ' + card.name}}

//- The table containing the players in the game
.col-md-12
  table
    thead
      tr
        td: strong Players
    tbody
      tr(ng-repeat="player in vm.players")
        td {{player}}
hr
