div
  .modal-header
    h3.modal-title {{vm.title}}

  .modal-body
    |{{vm.message}}

  .modal-footer
    button.btn.btn-primary(type="button" ng-click="vm.yes()") Yes
    button.btn.btn-danger(type="button" ng-click="vm.no()") No