.col-md-12
  button.btn.btn-sm.btn-primary(ng-click="vm.toSets()") Lists
  strong You can only add Cube sets at the moment

.col-md-12(style="margin-bottom:5px")
  label List Name:
  div(style="display:inline-block; border-bottom: 3px solid black; width: 30ch") {{vm.listName}}

  button.btn.btn-sm.btn-primary(ng-click="vm.loadList()") Load
  button.btn.btn-sm.btn-primary(ng-disabled="!vm.list || vm.list.length === 0" ng-click="vm.saveList()") Save

.col-md-12(style="margin-bottom:5px")
  .col-md-5.col-md-offset-1
    |Card List
    br
    textarea.col-md-12(style='height:80vh' ng-list="\n" ng-trim="false" ng-model="vm.list")

    div.
      Enter the cards one card per line

hr