.col-md-12
  button.btn.btn-sm.btn-primary(ng-click="vm.toLobby()") Lobby
  button.btn.btn-sm.btn-primary(ng-click="vm.toAddSet()") Add Set

.col-md-12(style="margin-bottom:5px")
  //- drop down for the lists in the game
  label Game:
  select(name="games" ng-model="vm.gameType" ng-change='vm.settingsChanged()')
    option(ng-repeat="game in vm.gameTypes" value="{{game}}") {{game}}

  //- drop down for the lists in the game
  label Draft Type:
  select(name="drafts" ng-model="vm.draftType" ng-change='vm.settingsChanged()')
    option(ng-repeat="draft in vm.draftTypes" value="{{draft}}") {{draft}}

  //- drop down for the lists in the game
  label List Name:
  div(style="display:inline-block; border-bottom: 3px solid black; width: 30ch") {{vm.listName}}

  //- button on the
  button.btn.btn-sm.btn-primary(ng-click="vm.loadList()") Load List

  label View Type
  select(ng-model='vm.viewType' ng-disabled="vm.cards.length === 0")
    option(value='List') List
    option(value='Tile') Tile

.col-md-12(ng-show='vm.cards.length !== 0 && vm.viewType === "List"')
  //-the card image
  .col-md-4.well.col-md-offset-1
    img.card-img.img-responsive(ng-show='vm.hoveredURL' ng-src='{{vm.hoveredURL}}' style="margin-left:auto;margin-right:auto;")

  //- the list of pack cards
  .pack.col-md-5.col-md-offset-1.well
    p(style='margin-bottom:15px')
      div(style='height:80vh; overflow-y:auto;')
        ul
          li.card(ng-repeat='card in vm.cards' style='background: {{vm.getColourStr(card)}}; color: {{vm.getTextColour(card)}}' ng-mouseover='vm.cardHover(card)') {{card.name}}

.col-md-12(ng-show='vm.cards.length !== 0 && vm.viewType === "Tile"')
  img.card-img(ng-repeat='card in vm.cards' style='height:300px; width:auto;' ng-src='https://yugiohprices.com/api/card_image/{{card.name | encodeURL}}')

hr
